$smt: 100px;
$goldColor: #c39c61;
html {
	scroll-behavior: smooth;
}

body {
	height: 6000px;
	background: url("../img/bg-new.png") repeat;
	// font-family: "Noto Sans TC", sans-serif;
	font-family: "Noto Serif TC", serif;
	//font-size: 2rem;
	font-weight: 500;
	margin-top: 76px;
}

.container {
	max-width: 1140px;
}

nav {
	&.navbar {
		background-color: rgb(255, 255, 255);
		// position: sticky;
		// top: 0;
		// z-index: 999;

		.logoimg {
			height: 50px;
		}

		.nav_divide {
			display: none;
			padding: 0.5rem 1rem;
			color: rgba(0, 0, 0, 0.7);

			@media (min-width: 992px) {
				display: block;
			}
		}

		.navbar-toggler {
			&:focus {
				box-shadow: unset;
			}
		}

		.hamburger {
			.hamburger-box {
				height: 30px;
				width: 30px;

				@mixin hamburger {
					width: 30px;
					background-color: rgba(0, 0, 0, 0.7);
				}

				.hamburger-inner {
					@include hamburger;

					&:before,
					&:after {
						@include hamburger;
					}
				}
			}
		}

		ul li a {
			position: relative;
			text-align: center;
			font-weight: bold;
			cursor: pointer;

			&::after {
				display: none;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: ".";
				color: transparent;
				background: $goldColor;
				height: 1.5px;
				transition: all 1s;

				@media (min-width: 992px) {
					display: block;
				}
			}

			&:hover::after {
				width: 100%;
			}
		}

		.navbar-nav .nav-link {
			transition: 0.4s;

			&:hover {
				color: $goldColor;
			}
		}
	}
}

#about {
	// background-color: #E6E8E5;
	h1,
	h2,
	h3,
	p {
		margin: 0;
	}

	.about_text {
		font-size: 18px;
	}
	.cover {
		overflow: hidden;
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
		border-radius: 0.5rem;
		img {
			transition: 0.4s;

			&:hover {
				transform: scale(1.2);
			}
		}
	}

	.timeline-section {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 15px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 3px;
			background-color: #aaa;
		}
	}
	.timeline-pointer {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 12px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: 3px solid #aaa;
			background-color: #fff;
			z-index: 1;
		}
	}
	@media (max-width: 767px) {
		.timeline-section:after,
		.timeline-pointer:after {
			display: none;
		}
	}
}

#viewpoint {
	background-image: url("../img/bg-new2.png");
	background-size: auto;
	#spot-container {
		.card {
			width: 100%;
			height: 100%;
			overflow: hidden;
			cursor: pointer;

			&:hover img {
				transform: scale(1.2);
			}

			.filter {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(68, 68, 68, 0.6);
				opacity: 0;
				transition: 0.5s all ease;
			}

			&:hover .filter {
				opacity: 1;
			}

			img {
				height: 100%;
				//box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
				object-fit: cover;
				transition: 0.5s all ease;
			}

			.spot-title {
				// padding: 50%;
				color: rgba(240, 240, 240, 0.9);
				//font-family: "Rowdies", cursive;
				font-size: 2rem;
				font-weight: 500;
				text-decoration: underline;
				// text-decoration-thickness: 2px;
				text-underline-offset: 0.5rem;
				display: inline-block;
				opacity: 0;
				transition: 0.5s all ease;
			}

			&:hover .spot-title {
				opacity: 1;
			}
		}
	}
	#modal-box {
		.modal-content {
			background-color: #EDEDEA;
			// .modal-header {
			// 	border: none;
			// }
            p{
                font-size: 1.1rem;
            }
		}
	}
}

#season {
	.parallax {
		height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		// @media (max-width: 996px) {
		// 	background-position: right;
		// }
		&.spring {
			// width: 100%;
			background-image: url(/img/spring.webp);
		}
		&.summer {
			background-image: url(/img/summer2.jpg);
		}
		&.autumn {
			background-image: url(/img/autumn2.jpg);
		}
		&.winter {
			background-image: url(/img/winter2.jpg);
		}
		&:nth-child(even) {
			div.filter {
				.season-box {
					left: 3rem;
					p {
						left: -3rem;
						padding: 0.5rem;
						&::after {
							left: 0;
						}
					}
				}
			}
		}
		&:nth-child(odd) {
			div.filter {
				.season-box {
					right: 3rem;
					p {
						right: -3rem;
						padding: 0.5rem;
						&::after {
							right: 0;
						}
					}
				}
			}
		}
		div.filter {
			background-color: rgba(0, 0, 0, 0.5);
			width: 100%;
			min-height: 100%;
			position: relative;
			.season-box {
				position: absolute;
				top: 3rem;
				// width: 100%;
				.season-box-title {
					// width: 30px;
					text-align: center;
					display: inline-block;
					//font-family: "Rowdies", cursive;
					font-size: 3rem;
					font-weight: 700;
					text-decoration: underline;
					text-decoration-thickness: 2px;
					text-underline-offset: 1rem;
					line-height: 4rem;
					background-color: rgba(255, 255, 255, 0.7);
					color: #444444;
					// border: 2px rgba(255, 255, 255, 0.7) white;
					outline: 2px solid rgba(255, 255, 255, 0.7);
					outline-offset: 5px;
					padding: 1rem 1.3rem;
				}
				.season-box-p {
					position: relative;
					p {
						position: absolute;
						margin-top: 3rem;
						font-size: 1.2rem;
						font-weight: 500;
						width: 40vw;
						color: #444444;
						background-color: rgba(255, 255, 255, 0.7);
						@media (max-width: 576px) {
							width: 50vw;
						}
						&::after {
							content: "";
							position: absolute;

							bottom: -0.4rem;
							width: 70%;
							border-bottom: 2px solid rgba(255, 255, 255, 0.7);
						}
					}
				}
			}
		}
	}
}

@mixin falling() {
	width: 100%;
	transform: translate(0, 0);
	// transform: translateY(unset);
	overflow: hidden;
}

.falling-spring {
	@include falling();
}

.falling-summer {
	@include falling();
}

.falling-autumn {
	@include falling();
}

.falling-winter {
	@include falling();
}

@mixin leaf-scene($fallingBg) {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	transform-style: preserve-3d;

	div {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		// background: url(../img/snow.svg)
		// 	no-repeat;
		background: $fallingBg;
		background-size: 100%;
		transform-style: preserve-3d;
	}
}

.leaf-scene-spring {
	@include leaf-scene(url(../img/sakura.svg) no-repeat);
}

.leaf-scene-summer {
	@include leaf-scene(url(../img/summer.svg) no-repeat);
}

.leaf-scene-autumn {
	@include leaf-scene(url(../img/leaf.svg) no-repeat);
}

.leaf-scene-winter {
	@include leaf-scene(url(../img/snow.svg) no-repeat);
}
